.hidden {
  display: none;
}

form {
  display:block;
}

body {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: flex-start;
  text-align:center;
  height:400px;
  width:100%;
}

img {
  width:200px;
  height:200px;
}

.show {
  transition: all 1000ms ease-in-out;
  display:flex;
  justify-content:space-around;
  align-items: center;
  width: 60%;
  height: 400px;
  background-color:goldenrod;
  border:40px double red;
  text-align:left;
  font-family:sans-serif;
  font-size:120%;
  color:white;
}

.show img {
  border: 20px dashed blueviolet;
  float: left;
}